.flex-container {
    width: 400px;
    margin: 16px auto;
    background-color: gray;
    padding: 8px;
    display:flex;
    flex-direction: column;
    gap: 8px;
}

.flex-container div {
    background: peachpuff;
    padding: 8px;
}

.three {
    text-align: center;
}